.contact { 
    display: flex;
    justify-content: space-evenly;
    
    padding: 20px;
    background-color: #2F466C !important;
   
}
.contact h5{
    padding: 5px;
    padding-left: 0px;
    cursor: pointer;
    color: white;
    font-weight: 450;
}
.contact h3{
    color: white;
    padding: 10px;
    padding-left:0;
    font-weight: 500;
}
